@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;300;400;500&display=swap');
  *{
    color: #1a1423;
    margin: 0;
    padding: 0; 
  }
  .game-board{
    margin: 40px;
    padding-left: 100px;
  }

  body {
    font-family: 'Trispace', sans-serif;
    background-color: #774c60;

  }
  h1{
    margin: 40px auto;
    text-align: center;
  }
  
  ol, ul {
    list-style-type: none;
    padding-left: 50px;
    line-height: 20px;
    font-size: 12px;
    margin: 20px;
  }

  .button {
    font-family: 'Trispace', sans-serif;
    font-weight: bold;
    width: 150px;
    height: 20px;
    margin: 3px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #b75d69;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square,
  .square button {
    font-family: 'Trispace', sans-serif;
    font-weight: bold;
    background: #e29999;
    color: #eacdc2;
    border: 2px solid rgb(151, 45, 45);
    float: left;
    font-size: 80px;
    font-weight: bold;
    line-height: 150px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
    cursor: pointer;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    font-weight: bold;
    padding-top: 150px;
    margin-left: 20px;
  }
  